@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color: #84E1AD;
}

header {
    background: linear-gradient(to bottom, var(--cor2), var(--cor6));
    text-align: center;
    padding: 3% 0 3% 0;
    min-height: 150px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.193);
    margin: 0;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}

header p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding: 0 10px 0 10px;
}

nav{
    padding: 10px;
    background-color: var(--cor6);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.289);
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 2%;
    border-radius: 10px;
    transition-duration: 300ms;
}

nav a:hover{
    background-color: var(--cor5);
    padding: 1%;
}

main{
    background-color: white;
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

main h2{
    font-family: var(--fonte-android);
    color: #217749;
    font-weight: normal;
}

main h3{
    font-family: var(--fonte-android);
    color: #217749;
    background: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 1%;
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}

main a::after{
    content: '\1F517';
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 4px;

}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

img{
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div#iframe{
    background-color: var(--cor5);
    margin: 0 -20px;
    padding: 20px;
    height: 400px;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.26);
}

aside ul{
   list-style-position: inside;
   columns: 2;
   list-style-type: '\2705\00A0';
}

aside h4{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;

    border-radius: 10px 10px 0px 0px;

}


footer{
    text-align: center;
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}

footer p {
    margin: 0;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}



